@font-face {
  font-family: "BMJUA";
  src: url("./fonts/BMJUA_otf.otf") format("opentype");
}

@font-face {
  font-family: "BMDO";
  src: url("./fonts/BMDOHYEON_otf.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;600;700&display=swap");

.App {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "BMJUA";
}
